/*-----------------------------------------------------------------------------------------------------------------------------*/
/*  CORE elements                                                                                                              */
/*-----------------------------------------------------------------------------------------------------------------------------*/

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: $color-primary;
	font-family: $ff-default;
	font-weight: $fw-400;
	background-repeat: no-repeat;
}
html
{
	cursor: default;
	font-size: 10px; /* dulezita konstanta pro prepocet font-size */
	overflow-y: scroll;
	/*-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;*/
	color: $color-primary;
	font-family: $ff-default;
}
body {
	font-size: $fs-16;
	color: $color-primary;
	font-family: $ff-default;
	background: $color-f6f6f6;
}

p {
	padding: 5px 0;
}

strong {
	font-weight: 700;
}

a {
	color: $color-de4e07;
	font-family: $ff-default;
	text-decoration: underline;
	outline: none;
}
a:hover
{
	text-decoration: none;
	color: $color-b33f05;
	font-family: $ff-default;
}
/*ul {
	list-style:none;
	margin: 10px 0;
}
ul li
{
	margin: 0 0 0 20px;
	list-style-type: square;
	padding: 2px 0;
}
*/
/* table */
table {
	border-collapse: separate;
	border-spacing: 0;
	@include reset-font-inherit;
	margin: 0 0 5px 0;

	td {
		font-weight: $fw-600;
		text-align: left;
		padding: 5px 7px;
		width: 50%;
	}
	th *,
	td * {
		font-weight: $fw-600;
	}
}
/* titles */
h1 {
	font-weight: $fw-600;
	font-size: $fs-40;
}
h2 {
	font-weight: $fw-700;
	font-size: $fs-26;
	color: $color-4b6a77;
}
