/*++++++++++++++++++++++++++++++++++++++++++++++++++

GLOBAL VARIABLES

++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*--------------------------------------------------
FONT FAMILY
--------------------------------------------------*/
/*--------------------------------------------------
FONT SIZES from 1 to 200 px - in [rem] units
--------------------------------------------------*/
/*font-sizes */
/* or font-sizes definition by tag */
/*extra extra small*/
/*extra small*/
/*small*/
/*normal*/
/*default*/
/*medium*/
/*big*/
/*extra big*/
/*extra extra big*/
/*--------------------------------------------------
FONT WEIGHT
--------------------------------------------------*/
/*--------------------------------------------------
COLORS [rgba/hex]
--------------------------------------------------*/
/*-= Default color - neutral / global ===============================================================================-*/
/*transparent */
/*#ffff99 - mark*/
/*-= Black to white - solid scale =-*/
/*#000000*/
/*#030303*/
/*#050505*/
/*#080808*/
/*#101010*/
/*#0a0a0a*/
/*#0d0d0d*/
/*#0f0f0f*/
/*#111111*/
/*#121212*/
/*#141414*/
/*#171717*/
/*#181818*/
/*#1a1a1a*/
/*#1c1c1c*/
/*#1f1f1f*/
/*#202020*/
/*#212121*/
/*#222222*/
/*#242424*/
/*#262626*/
/*#282828*/
/*#292929*/
/*#2b2b2b*/
/*#2e2e2e*/
/*#303030*/
/*#333333*/
/*#363636*/
/*#383838*/
/*#3b3b3b*/
/*#3d3d3d*/
/*#404040*/
/*#424242*/
/*#444444*/
/*#454545*/
/*#474747*/
/*#484848*/
/*#4a4a4a*/
/*#4d4d4d*/
/*#4f4f4f*/
/*#505050*/
/*#525252*/
/*#545454*/
/*#555555*/
/*#575757*/
/*#585858*/
/*#595959*/
/*#5c5c5c*/
/*#5e5e5e*/
/*#606060*/
/*#616161*/
/*#636363*/
/*#666666*/
/*#686868*/
/*#696969*/
/*#6b6b6b*/
/*#6e6e6e*/
/*#707070*/
/*#737373*/
/*#757575*/
/*#777777*/
/*#787878*/
/*#7a7a7a*/
/*#7d7d7d*/
/*#7f7f7f*/
/*#808080*/
/*#828282*/
/*#858585*/
/*#878787*/
/*#888888*/
/*#8a8a8a*/
/*#8c8c8c*/
/*#8f8f8f*/
/*#909090*/
/*#919191*/
/*#949494*/
/*#969696*/
/*#989898*/
/*#999999*/
/*#9c9c9c*/
/*#9e9e9e*/
/*#a0a0a0*/
/*#a1a1a1*/
/*#a3a3a3*/
/*#a6a6a6*/
/*#a8a8a8*/
/*#aaaaaa*/
/*#ababab*/
/*#adadad*/
/*#b0b0b0*/
/*#b3b3b3*/
/*#b5b5b5*/
/*#b8b8b8*/
/*#bbbbbb*/
/*#bababa*/
/*#bdbdbd*/
/*#bfbfbf*/
/*#c0c0c0*/
/*#c2c2c2*/
/*#c4c4c4*/
/*#c7c7c7*/
/*#c8c8c8*/
/*#c9c9c9*/
/*#cccccc*/
/*#cfcfcf*/
/*#d0d0d0*/
/*#d1d1d1*/
/*#d4d4d4*/
/*#d6d6d6*/
/*#d8d8d8*/
/*#d9d9d9*/
/*#dbdbdb*/
/*#dedede*/
/*#dddddd*/
/*#e0e0e0*/
/*#e3e3e3*/
/*#e5e5e5*/
/*#e8e8e8*/
/*#ebebeb*/
/*#ededed*/
/*#eeeeee*/
/*#f0f0f0*/
/*#f2f2f2*/
/*#f5f5f5*/
/*#f7f7f7*/
/*#f8f8f8*/
/*#fafafa*/
/*#fcfcfc*/
/*#ffffff*/
/* Black + alpha 1 - 99 % */
/*#000000 a0.99*/
/*#000000 a0.98*/
/*#000000 a0.97*/
/*#000000 a0.96*/
/*#000000 a0.95*/
/*#000000 a0.94*/
/*#000000 a0.93*/
/*#000000 a0.92*/
/*#000000 a0.91*/
/*#000000 a0.90*/
/*#000000 a0.89*/
/*#000000 a0.88*/
/*#000000 a0.87*/
/*#000000 a0.86*/
/*#000000 a0.85*/
/*#000000 a0.84*/
/*#000000 a0.83*/
/*#000000 a0.82*/
/*#000000 a0.81*/
/*#000000 a0.80*/
/*#000000 a0.79*/
/*#000000 a0.78*/
/*#000000 a0.77*/
/*#000000 a0.76*/
/*#000000 a0.75*/
/*#000000 a0.74*/
/*#000000 a0.73*/
/*#000000 a0.72*/
/*#000000 a0.71*/
/*#000000 a0.70*/
/*#000000 a0.69*/
/*#000000 a0.68*/
/*#000000 a0.67*/
/*#000000 a0.66*/
/*#000000 a0.65*/
/*#000000 a0.64*/
/*#000000 a0.63*/
/*#000000 a0.62*/
/*#000000 a0.61*/
/*#000000 a0.60*/
/*#000000 a0.59*/
/*#000000 a0.58*/
/*#000000 a0.57*/
/*#000000 a0.56*/
/*#000000 a0.55*/
/*#000000 a0.54*/
/*#000000 a0.53*/
/*#000000 a0.52*/
/*#000000 a0.51*/
/*#000000 a0.50*/
/*#000000 a0.49*/
/*#000000 a0.48*/
/*#000000 a0.47*/
/*#000000 a0.46*/
/*#000000 a0.45*/
/*#000000 a0.44*/
/*#000000 a0.43*/
/*#000000 a0.42*/
/*#000000 a0.41*/
/*#000000 a0.40*/
/*#000000 a0.39*/
/*#000000 a0.38*/
/*#000000 a0.37*/
/*#000000 a0.36*/
/*#000000 a0.3*/
/*#000000 a0.34*/
/*#000000 a0.33*/
/*#000000 a0.32*/
/*#000000 a0.31*/
/*#000000 a0.30*/
/*#000000 a0.29*/
/*#000000 a0.28*/
/*#000000 a0.27*/
/*#000000 a0.26*/
/*#000000 a0.25*/
/*#000000 a0.24*/
/*#000000 a0.23*/
/*#000000 a0.22*/
/*#000000 a0.21*/
/*#000000 a0.20*/
/*#000000 a0.19*/
/*#000000 a0.18*/
/*#000000 a0.17*/
/*#000000 a0.16*/
/*#000000 a0.15*/
/*#000000 a0.14*/
/*#000000 a0.13*/
/*#000000 a0.12*/
/*#000000 a0.11*/
/*#000000 a0.01*/
/*#000000 a0.09*/
/*#000000 a0.08*/
/*#000000 a0.07*/
/*#000000 a0.06*/
/*#000000 a0.05*/
/*#000000 a0.04*/
/*#000000 a0.03*/
/*#000000 a0.02*/
/*#000000 a0.01*/
/* White + alpha 1 - 99 % */
/*#ffffff a0.99*/
/*#ffffff a0.98*/
/*#ffffff a0.97*/
/*#ffffff a0.96*/
/*#ffffff a0.95*/
/*#ffffff a0.94*/
/*#ffffff a0.93*/
/*#ffffff a0.92*/
/*#ffffff a0.91*/
/*#ffffff a0.90*/
/*#ffffff a0.89*/
/*#ffffff a0.88*/
/*#ffffff a0.87*/
/*#ffffff a0.86*/
/*#ffffff a0.85*/
/*#ffffff a0.84*/
/*#ffffff a0.83*/
/*#ffffff a0.82*/
/*#ffffff a0.81*/
/*#ffffff a0.80*/
/*#ffffff a0.79*/
/*#ffffff a0.78*/
/*#ffffff a0.77*/
/*#ffffff a0.76*/
/*#ffffff a0.75*/
/*#ffffff a0.74*/
/*#ffffff a0.73*/
/*#ffffff a0.72*/
/*#ffffff a0.71*/
/*#ffffff a0.70*/
/*#ffffff a0.69*/
/*#ffffff a0.68*/
/*#ffffff a0.67*/
/*#ffffff a0.66*/
/*#ffffff a0.65*/
/*#ffffff a0.64*/
/*#ffffff a0.63*/
/*#ffffff a0.62*/
/*#ffffff a0.61*/
/*#ffffff a0.60*/
/*#ffffff a0.59*/
/*#ffffff a0.58*/
/*#ffffff a0.57*/
/*#ffffff a0.56*/
/*#ffffff a0.55*/
/*#ffffff a0.54*/
/*#ffffff a0.53*/
/*#ffffff a0.52*/
/*#ffffff a0.51*/
/*#ffffff a0.50*/
/*#ffffff a0.49*/
/*#ffffff a0.48*/
/*#ffffff a0.47*/
/*#ffffff a0.46*/
/*#ffffff a0.45*/
/*#ffffff a0.44*/
/*#ffffff a0.43*/
/*#ffffff a0.42*/
/*#ffffff a0.41*/
/*#ffffff a0.40*/
/*#ffffff a0.39*/
/*#ffffff a0.38*/
/*#ffffff a0.37*/
/*#ffffff a0.36*/
/*#ffffff a0.3*/
/*#ffffff a0.34*/
/*#ffffff a0.33*/
/*#ffffff a0.32*/
/*#ffffff a0.31*/
/*#ffffff a0.30*/
/*#ffffff a0.29*/
/*#ffffff a0.28*/
/*#ffffff a0.27*/
/*#ffffff a0.26*/
/*#ffffff a0.25*/
/*#ffffff a0.24*/
/*#ffffff a0.23*/
/*#ffffff a0.22*/
/*#ffffff a0.21*/
/*#ffffff a0.20*/
/*#ffffff a0.19*/
/*#ffffff a0.18*/
/*#ffffff a0.17*/
/*#ffffff a0.16*/
/*#ffffff a0.15*/
/*#ffffff a0.14*/
/*#ffffff a0.13*/
/*#ffffff a0.12*/
/*#ffffff a0.11*/
/*#ffffff a0.01*/
/*#ffffff a0.09*/
/*#ffffff a0.08*/
/*#ffffff a0.07*/
/*#ffffff a0.06*/
/*#ffffff a0.05*/
/*#ffffff a0.04*/
/*#ffffff a0.03*/
/*#ffffff a0.02*/
/*#ffffff a0.01*/
/*-= Local / Client colors ==========================================================================================-*/
/*-= Basic scheme =-*/
/*#354052*/
/*#354052*/
/*#2ea2f8 + gradient*/
/*#1991eb + gradient */
/*#dbdbdb - loader pozadi default*/
/*#004c96 + balicky*/
/*#f6f9fb - body background */
/*#d0dae7 a0.7*/
/*#c8c8c8 a0.2*/
/*-= State scheme =-*/
/*#61b339*/
/*#f35b12*/
/*#f35b12*/
/*#e10000*/
/*#000*/
/*#000*/
/*#000*/
/*-= By dolor code =-*/
/*#1585d8*/
/*#ffffff + gradient */
/*#f5f5f5 + gradient*/
/*#f1f1f1 + filter slider*/
/*#bfc4cb + border */
/*#d8e0eb + tabs */
/*#f2f4f7 + gradient */
/*#7f8fa4*/
/*#509214*/
/*#009933*/
/*#f8a000*/
/*#ff6600*/
/*#007800*/
/*#0096ff*/
/*#8c6118*/
/*#ffe394*/
/*#30c438*/
/*#00ff00*/
/*#a8f0c0*/
/*#ffeccb*/
/*#d1f0f7*/
/*#ffd8b5*/
/*#dd3a1d*/
/*#f6a623*/
/*#c3c8cf - default border + background */
/*#c3c8cf - button border */
/*#354052 - button border */
/*#eff3f6*/
/*pry klientske*/
/*#00b050*/
/*#eb9415*/
/*#ff0000*/
/*#d8262c*/
/*#687586 a0.2*/
/*#007800 a005*/
/*#ff7800 a005*/
/*#dd3b1e a005*/
/*

@mixin color($color, $opacity) {
	background: rgba($color, $opacity);
}
//@include color($color-ffffff,0.5);
}

 */
/*--------------------------------------------------
MIXINS
--------------------------------------------------*/
/*-= value reset-basic =-*/
/*-= radius =-*/
/*-= gradient full + img =-*/
/*-= gradient 0% - 94% / 94% - 100% */
/*-= box shadows =-*/
/*-=text shadow =-*/
/*-= transitions =-*/
/*-= transforms =-*/
/*
.loader {
	animation: spin .5s infinite linear;
	-moz-animation: spin .5s infinite linear;
	-webkit-animation: spin .5s infinite linear;
}


@keyframes spin {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}
@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
*/
/* moznost zapisu pro nested elements - "&" spojuje
This notation is most often used to write pseudo-elements and -classes:

.element{
	&:hover{ ... }
	&:nth-child(1){ ... }
}
However, you can place the & at virtually any position you like*, so the following is possible too:

.container {
	background:red;
	#id &{
		background:blue;
	}
}
*/
/* compiles to:
.container {
	background: red;
}
#id .container {
	background: blue;
}
*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

/*# sourceMappingURL=g_variables.css.map */
