@media only screen and (max-width: 1200px) {
	.inner_box {
		padding: 0 20px;
	}
}
@media only screen and (max-width: 999px) {
	.desktop_view { display: none; }
	.mobile_view  { display: block;}

	header .block_login button {
		display: none;
	}
	.subpage article {
		float: none;
		width: 100%;
	}
	.subpage article > .endyear_calculator {
		display: none;
	}
}
