@media only screen and (max-width: 1200px) {
	.inner_box {
		padding: 0 15px;
	}
}
@media only screen and (max-width: 999px) {
	.desktop_view { display: none; }
	.mobile_view  { display: block;}

	body {
		font-size: $fs-15;
	}
	/* titles */
	h1 {
		font-size: $fs-24;
	}
	h2 {
		font-size: $fs-20;
	}
	header {
		height: 75px;
		padding: 10px 0;

		.logotype img {
			width: 100%;
			margin-top: 0;
			max-height: 50px;
		}
		.block_login button.default {
			margin: 5px 0 0 0;
		}
		.logged_user .icon_bar .icon {
			margin: 15px 0 0 15px;
		}
		.block_login>button.submit,
		.logged_user .avatar {
			display: none;
		}
		.notification_block {
			top: 48px !important;
		}
	}
	.row {
		padding: 10px 0;
		margin: 0 -10px;
	}
	.col {
		padding: 0 10px;
	}
	.controls {
		text-align: center;
		padding: 40px 0;

		p {
			padding-top: 20px;
		}
	}
	aside .controls,
	.popup_dialog .controls {
		padding: 20px 0 0 0;
	}

	/*-----------------------------------------------------------------------------------------------------------------------------*/
	/*  BUTTONS                                                                                                                    */
	/*-----------------------------------------------------------------------------------------------------------------------------*/

	a.button,
	button,
	input[type="button"].button,
	input[type="submit"].button {
		height: 45px;
		line-height: 45px;
		padding: 0 30px;
		margin: 0 5px;

		&.low {
			height: 35px;
			line-height: 35px;
			padding: 0 10px;
		}

	}

	/*-----------------------------------------------------------------------------------------------------------------------------*/
	/*  HOMEPAGE		                                                                                                           */
	/*-----------------------------------------------------------------------------------------------------------------------------*/

	.homepage {
		.hands {
			float: none;
			width: 100%;
			min-height: 10px;
			text-align: center;

			.hand {
				width: 80px;
				height: 220px;
				position: static;
				z-index: 2;
				display: inline-block;

				&.hand_1 {
					position: static;
					background: url('../images/hand-1-tr.svg') 50% 30px no-repeat;
					background-size: 70px auto;
					animation-play-state: paused;
				}
				&.hand_2 {
					position: static;
					background: url('../images/hand-2-tr.svg') 50% 50px no-repeat;
					background-size: 70px auto;
					animation-play-state: paused;
				}
				&.hand_3 {
					position: static;
					background: url('../images/hand-3-tr.svg') 50% 20px no-repeat;
					background-size: 70px auto;
					animation-play-state: paused;
				}
			}
		}
		.claim {
			float: none;
			width: 100%;
			display: inline-block;
			padding: 10px 0 0 0;
			text-align: center;

			h1 {
				text-align: center;
				padding: 0 0 30px 0;
				span {
					font-size: $fs-24;
					color: $color-f6deae;
				}
			}
			.row.search {
				.col {
					padding: 5px 20px;
					width: 100%;
					float: none;
					text-align: center;
				}
			}
		}
		.map {
			display: none;
		}
		.regions {
			padding: 30px 0;
			.col {
				padding: 5px 20px;
				width: 100%;
				float: none;
				text-align: left;
			}
			h2 {
				font-size: $fs-26;
				padding: 0 0 35px 0;
			}
		}
	}

	/*-----------------------------------------------------------------------------------------------------------------------------*/
	/*  SUBPAGE		                                                                                                               */
	/*-----------------------------------------------------------------------------------------------------------------------------*/

	.subpage article {
		float: none;
		width: 100%;
	}
	.subpage article > .endyear_calculator {
		display: none;
	}
	.container .block {
		padding: 15px 20px;
	}

	/* schools */

	.container.schools {
		.content {
			h2 {
				height: 40px;
				margin-bottom: 10px;
				font-size: $fs-16;
			}
			p {
				font-size: $fs-13;
			}
		}
		.col {
			&.p20 {
				width: 30%;
			}
			&.p80 {
				width: 70%;
			}
		}
	}

	/* school */

	.mobile_view.school {
		position: relative;

		aside {
			float: none;
			width: 100%;
			padding: 5px 15px;

			.avatar {
				text-align: left;
				padding: 15px 0;
				* {
					display: inline-block;
					vertical-align: middle;
				}
				.photo {
					width: 80px;
					height: 80px;
					padding: 15px;

					img {
						width: 40px;
						height: 40px;
					}
				}
				.name {
					width: calc(100% - 105px);
					margin-left: 20px;

					font-size: $fs-15;
				}
			}
			&+a {
				display: inline-block;
				margin-top: 10px;
			}
		}
	}
	.container.school {
		h2 a {
			bottom: 15px;
		}
		.classroom {
			a {
				font-size: $fs-16;
				margin-right: 10px;
			}
			span {
				font-size: $fs-13;
			}
		}
	}

	/*-----------------------------------------------------------------------------------------------------------------------------*/
	/*  ASIDE - fixed position	- pro mobilni rozliseni                                                                            */
	/*-----------------------------------------------------------------------------------------------------------------------------*/

	.mobile_view {
		position: relative;

		&.schools,
		&.classroom {
			top: -40px;
		}
		.icon-toggle {
			display: inline-block;
			box-sizing: border-box;
			position: absolute;
			z-index: 99;
			top: 0;
			right: 0;
			height: 40px;
			width: 40px;
			cursor: pointer;
			@include transition-default(("all  .3s"));
		}
		&.schools {
			.icon-toggle {
				background: $color-7f959e url('../images/icons/icon-filter-hover.svg') 50% 50% no-repeat;
				background-size: 25px auto;
			}
		}
		&.classroom {
			.icon-toggle {
				background: $color-7f959e url('../images/icons/icon-menu-hover.svg') 50% 50% no-repeat;
				background-size: 25px auto;
			}
		}
		.aside_container {
			height: 100%;
			width: 100%;
			position: fixed;
			left: 0;
			margin: 0;
			transform: translateX(calc(-100% + 40px));
			z-index: 100;
			@include transition-default(("transform .25s ease-in-out"));

			aside {
				position: relative;
				z-index: 99;
				width: calc(100% - 40px);
				height: calc(100vh - 75px);
				overflow-y: auto;
				margin: 0;
			}
		}
		input[type="checkbox"]:checked ~ .aside_container {
			transform: translateX(0);
		}
		input[type="checkbox"] {
			box-sizing: border-box;
			display: none;
			@include transition-default(("all  .3s"));
		}
		input[type="checkbox"]:checked ~ .icon-toggle {
			right: 0;
		}

	}

	.add_banner {
		padding: 30px;

		h2 {
			font-size: $fs-20;
			padding: 0 0 20px 0;
		}
	}
	.advertisement {
		height: 100px;
		line-height: 100px;
		font-size: $fs-20;
	}
}

@media only screen and (max-width: 600px) {

	[data-tooltip]:before,
	[data-tooltip]:after {
		display: none;
	}

	/* classroom */

	.mobile_view.classroom {
		.avatar {
			padding: 5px 0 15px 0;
			text-align: left;

			.photo {
				float: left;
				margin: 0 15px 15px 0;
				display: block;
				width: 65px;
				height: 65px;

				span {
					display: none;
				}
				&:hover {
					span {
						width: 55px;
						height: 55px;
					}
				}
				img {
					width: 65px;
					height: 65px;
					border: 3px solid $color-f3d396;
				}
			}
			.name {
				display: inline-block;
				font-size: $fs-18;
				margin-top: 10px;
			}
			a {
				display: inline-block;
				font-size: $fs-12;
			}
		}
	}

	.container.classroom {
		&.load_next_conversation {
			max-height: 100px;
		}
		&.level_2 {
			margin-left: 50px;
		}
		.load_next {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 90%;
			background: url('../images/load-next-conversation.svg') 0 0 repeat-x;
			text-align: center;
			z-index: 22;
			padding: 40px 0 0 0;
		}
		.avatar {
			width: 22%;

			&>.name {
				font-size: $fs-10;
				font-weight: $fw-400;
				padding-left: 0;
			}
			&:after {
				top: 28px;
				left: 28px;
				height: 6px;
				width: 6px;
				@include radius-default(6px);

			}
			.status {
				height: 38px;
				width: 38px;
				@include radius-default(38px);

				&:hover {
					.text {
						padding: 5px 65px;
					}
				}
				.icon {
					height: 38px;
					width: 38px;
					@include radius-default(38px);

					img {
						height: 34px;
						width: 34px;
					}
				}
				.text {
					* {
						line-height: 15px;
					}
					.name {
						font-size: $fs-11;
					}
					.time {
						font-size: $fs-11;
					}
				}
				.arrow {
					right: 7px;
					top: 7px;
					height: 25px;
					width: 25px;
					@include radius-default(25px);
				}
			}
		}
		.block {
			width: 78%;
			padding: 5px 25px;

			&:before {
				top: 10px;
			}
			* {
				font-size: $fs-14;
			}
		}
	}

	/* with img */

	.container.classroom.with_image {
		.col {
			float: none;
			width: 100%;
		}
		.message {
			padding-left: 0;
		}
	}
	.container.classroom.add {
		.bottom_bar {
			.emoticons,
			.add_image {
				height: 24px;
				width: 24px;
				margin: 0 8px;
			}
			.emoticons {
				.icons_block {
					padding: 10px 15px 10px 10px;
					top: 45px;
					left: 50%;
					margin-left: -160px;
					width: 320px;
				}
			}
		}
	}
	.emoticon {
		height: 30px;
		width: 30px;
		margin: 0;

		&:hover {
			@include radius-default(30px);
		}
	}
	@each $code in '1f31d' '1f600' '1f601' '1f602' '1f603' '1f604' '1f605' '1f606' '1f607' '1f609' '1f60a' '1f60b' '1f60c' '1f60d' '1f60e' '1f60f' '1f610' '1f611' '1f612' '1f613' '1f614' '1f615' '1f616' '1f617' '1f618' '1f619' '1f61a' '1f61b' '1f61c' '1f61d' '1f61e' '1f61f' '1f620' '1f621' '1f622' '1f623' '1f624' '1f625' '1f626' '1f627' '1f628' '1f629' '1f62a' '1f62b' '1f62c' '1f62d' '1f62e' '1f62f' '1f630' '1f631' '1f632' '1f633' '1f634' '1f635' '1f636' '1f637' '1f640' '1f641' '1f642' '1f643' '1f644' '1f910' '1f911' '1f912' '1f913' '1f914' '1f915' '1f917' '1f920' '1f923' '1f924' '1f925' '1f927' '1f928' '1f929' '1f92a' '1f92b' '1f92c' '1f92d' '1f92e' '1f92f' '1f970' '1f973' '1f974' '1f975' '1f976' '1f97a' '1f9d0' '2639' '263a' {
		.e-#{$code} {
			background: url('../images/icons/emoticons/e-#{$code}.svg') 50% 50% no-repeat;
			background-size: 22px;
		}
	}

	// dialog

	.popup_dialog {
		width: 100vw !important;
		height: 100vh;
		top: 0;
		left:0;
		right:0;
		bottom: 0;
		margin: 0;

		.content {
			padding: 0 15px 25px 15px;
		}
		&>h2 {
			padding: 15px 15px 0 15px;
			height: auto;
		}
	}

	// dialog profilu

	.popup_dialog.user_profile {
		.avatar {
			text-align: left;
			height: 100px;
			margin-bottom: 0;
			padding: 10px 15px;

			.time:before {
				height: 10px;
				width: 10px;
				@include radius-default(10px);
			}
			.status {
				display: inline-block;

				.icon {
					height: 80px;
					width: 80px;
					border: 3px solid $color-ffffff;
					vertical-align: middle;
					@include radius-default(80px);
				}
				.text {
					display: inline-block;
					vertical-align: middle;
					margin-left: 15px;

					.name {
						color: $color-ffffff;
						font-size: $fs-20;
						padding: 5px 0 0 0;
					}
					.time {
						font-size: $fs-14;
						color: $color-ffffff;
					}
				}
			}
		}
		.content {
			height: calc(100vh - 100px);
		}
	}
}
@media only screen and (max-width: 480px) {
	.subpage {
		article {
			&.white {
				padding: 35px;
			}
			.form_block {
				.row {
					padding: 0;
				}
				.col {
					float: none;
					width: 100%;
					padding: 10px 0;
				}
			}
		}
	}
}